body {
    font-family: Arimo, Arial, sans-serif;
    font-size: 1em;
    background-color: #f6f8ca;
    padding: 0.8em;
}

header, article, footer {
    background-color: #1F8A70;
    color: #f6f8ca;
    padding: 0.8em;
    margin: 0.5em;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer{
    font-size: 0.8em;
    text-align: center;
}

h1 {
    color: #1F8A70;
    background-image: url(images/ile-de-batz.jpg);
    font-family: Roboto;
    font-size: 4em;
    width: 80%;
    height: 4em;
    display: inline-block;
    text-align: center;
}

h2 {
    font-family: Roboto;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
p {
    display: inline-block;
}

aside {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 7em;
    background-color: #f6f8ca;
    width: 7em;
    border: #1F8A70 1px solid;
}

img {
    margin: 0.5em 1em;
    box-shadow: 5px;
}

nav {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f6f8ca;
    width: 90em;
    height: 3em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav > ul > li {
    width: 6em;
    font-size: 1.5em;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    background-color: #1F8A70;
    color: #f6f8ca;
}

a {
    text-decoration: none;
    color: #f6f8ca;
}

h2 +ul {
    padding-left: 20em;
    display: inline-block;
}

h2 + ul > li{
    list-style-image: url("images/puce-fleur.png");
}

strong, em {
    background-color: #f6f8ca;
    color: #1F8A70;
}

figure {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
}

article > p {
    display: inline-block;
}
